.center {
  display: flex;
  justify-content: center;
}

#logo {
  width: 50%;
  height: auto;
}

#special-font {
  color: darkred;
  font-family: "Brush Script MT", cursive;
}

#menu-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  margin-bottom: 32px;
}

.menu-img {
  border-radius: 5%;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.menu-text h2 {
  font-size: 16px;
  font-weight: bold;
}

.menu-text p {
  font-size: 12px;
}

.menu-text b {
  font-size: 16px;
}

.menu-text button {
  border-radius: 40%;
  background-color: transparent;
  margin: 0 8px;
  font-size: 14px;
  border: black thin solid;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-window {
  background-color: white;
  height: 60%;
  width: 75%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
  z-index: 1001;
}

.popup-header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  height: 12%;
}

.popup-content {
  overflow-y: auto;
  height: 70%;
  margin: 8px 0;
}

.popup-footer {
  height: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.general-button-red,
.general-button-green {
  border-width: 1px;
}

.general-button-red {
  background-color: lightsalmon;
}

.general-button-green {
  background-color: lightgreen;
}
